footer
    .container
        .footer-wrapper
            .footer-logo
               include ../../img/svg/logo.svg
            .footer-title навигация
            .footer-title о нас
            .footer-title служба поддержки
            .footer-title подписка
            .footer-text.rows5 Бронирование номеров в <br/> лучшем отеле 2019 года по <br/> версии ассоциации «Отельные<br/>взгляды
            a.footer-link(href="#") О нас
            a.footer-link(href="#") О сервисе
            a.footer-link(href="#") Соглашения
            a.footer-link(href="#") Новости
            a.footer-link(href="#") Наша команда
            a.footer-link(href="#") Сообщества
            a.footer-link(href="#") Служба поддержки
            a.footer-link(href="#") Вакансии
            a.footer-link(href="#") Связь с нами
            a.footer-link(href="#") Услуги
            a.footer-link(href="#") Инвесторы
            .footer-text.rows4 Получайте специальные<br>предложения и новости сервиса
            form.footer-form( action="#" method="get")
                input.footer-input(type="email" placeholder="Email")
                button.footer-submit(type="submit")
                    i.material-icons arrow_forward

.footer-bottom
    .container
        .bottom-wrapper
            .footer-right Copyright © 2021 Toxin отель. Все права защищены.
            .footer-social
                a(href="#")
                    include ../../img/svg/twiter.svg
                a(href="#")
                    include ../../img/svg/facebook.svg
                a(href="#")
                    include ../../img/svg/inst.svg
