meta(charset="UTF-8")
link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
<link href="../node_modules/air-datepicker/dist/css/datepicker.css" rel="stylesheet" type="text/css">
<script src="../node_modules/air-datepicker/dist/js/datepicker.js"></script>
