include ../mixins/img
include ../mixins/button
header
    .container
        .header-wrapper
            .header-logo
                a(href='index.html')
                    include ../../img/svg/logo.svg
            nav.header-nav
                ul.header-list
                    li.header-item
                        a.header-link(href="#") О нас
                    li.header-item
                        a.header-link.header-dropdown(href="#") Услуги
                    li.header-item
                        a.header-link(href="#") Вакансии
                    li.header-item
                        a.header-link(href="#") Новости
                    li.header-item
                        a.header-link.header-dropdown(href="#") Соглашения

                .header-buttons
                           .buttons
                               +button({link:"sign.html", value:"Войти", mod: ["in","bordered","small"]})
                               +button({link:"reg.html", value:"Зарегистрироваться", mod: ["reg","small"]})