main
        .main-index
                .container
                       .main-wrapper
                               .right
                                       include registration-form
                               .descr Лучшие номера для вашей работы, <br> отдыха и просто вдохновения
