doctype html
html
    head
        include ../../includes/head
        title="Номера"
    body
        include ../../includes/header
        include ../../includes/room-content
        include ../../includes/footer
