@import "variables";
@import "custom-datepicker";
form{
  background: $white;
  .form-input-block{
    margin-right: 20px;
    border:2px solid $darkShade25;
    border-radius: 9px;
    padding:2px;
    display: flex;
    flex-direction:row;
    margin-bottom: 20px;
    .form-input{
      width: 115px;
      flex-grow: 2;
      border: none;
    }
    .form-input-button{
      appearance: none;
      color: $darkShade50;
      background: transparent;
      cursor: pointer;
      border: none;
    }
    .form-input-button:hover .guest-content {
      display: block;
    }
    .guests-dropdown{
      list-style: none;
      border-radius: 2px;
      border: 2px solid $darkShade25;
      display: none;
      .guests-item{
        border: 2px solid $darkShade25;

      }
    }

  }
  .dates{
    display: flex;
  }
  .form-title{
    text-transform: uppercase;
    color: $darkShade100;
    font-size: 12px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
  }
  .form-input{
    padding-left: 15px;
    border:2px solid $darkShade25;
    border-radius: 4px;
    display: block;
    width: 320px;
    height: 44px;
    &:focus{
      border-color: $darkShade50;
      outline: none;
    }
    &::placeholder{
      text-transform: uppercase;
    }
  }
}

.reg{
  padding: 30px;
}
.shadow{
  box-shadow: 0px 0px 25px 0px #00000033;
}
.border {
  border: 1px solid #0000001F;
  border-radius: 9px;
}

.datepicker{
  width: 300px;
  padding: 20px;
  font-family: Montserrat, sans-serif;
  color: $darkShade50;
  border: 1px solid $darkShade25;
  .datepicker--days-names{
    width: 279.39px;

  }
  .datepicker--cells-days{
    width: 279.39px;
    height: 260px;
    .datepicker--cell-day{
      height: 40px;
    }
  }
  .datepicker--nav{
    margin-bottom: 30px;
    border: none;
    .datepicker--nav-action{
      color: $purple;
    }
    .datepicker--nav-title, i{
      font-size: 19px;
      color: $darkShade100;
      font-weight: bold;
    }
  }
  .datepicker--cell-day{
    font-size: 12px;
  }
  .datepicker--day-name{
    font-weight: bold;
    color: $purple;
    text-transform: none;
  }

  .datepicker--controls{
    display: flex;
    justify-content: space-between;
    .clear, .apply{
      font-weight: bold;
      text-transform: uppercase;
      background: transparent;
      color: $purple;
      border: none;
      outline: none;
      cursor: pointer;
    }
  }
  .-in-range-{
    background: linear-gradient(180deg, rgba(187, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
  }
  .-range-from-{
    &::after{
      border-radius: 25px 0 0 25px;
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(187, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
      content: "";
    }
  }
  .-range-to-{
    &::before{
      border-radius: 0 25px 25px 0;
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(187, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
      display: inline-block;
      content: "";
    }
  }

  .-current-{
    font-weight: bold;
    border-radius: 50%;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    color: white;
    &.-focus-{
      color: white;
    }
  }
  .-selected-{
    font-weight: bold;
    border-radius: 50%;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  }

}

