header{
  background: white;
  height: 70px;
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
  .header-wrapper{
    display: flex;
    padding: 15px 0;
    .header-logo{
      box-sizing: border-box;
      margin-right: 285px;
    }
    .header-nav{
      display: flex;
      width: fit-content;
      .header-buttons{
        margin-left: 12px ;
        .button_reg{

          margin-left: 20px;
        }

      }
      .header-list{
        list-style-type: none;
        margin: 0;
        padding: 9px 0;

        .header-item{
          margin-right: 15px;
          display: inline-block;
          .header-link{
            color: $darkShade50;
            &:hover{
              color: $darkShade75;
            }
          }

          .header-dropdown{
            margin-right: 12px;
            &:after{
              font-size: 24px;
              font-family: "Material Icons";
              content: "expand_more";
              position: absolute;

            }
          }
        }
      }
    }
  }
}