@import "imports";

*{
  box-sizing: border-box;
}
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Bold.ttf")format('ttf');
  src: url("../fonts/Montserrat-Regular.ttf")format('ttf');
}
@font-face {
  font-family: 'Quicksand';
  src: url("../fonts/Quicksand-Bold.ttf")format('ttf');
  src: url("../fonts/Quicksand-Regular.ttf")format('ttf');
  src: url("../fonts/Quicksand-Light.ttf")format('ttf');
  src: url("../fonts/Quicksand-Medium.ttf")format('ttf');
}
.h1{
  font-size: 24px;
  line-height: 29px;
  color: $darkShade100;
}
.h2{
  font-size: 19px;
  line-height: 23px;
}
body {
  font-family: "Montserrat","Quicksand", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: $darkShade75;


  .form-label, ._title{
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    color: $darkShade100;
  }
  a{
    text-decoration: none;
  }
  .form_rooms{
    max-width: 380px;
  }


}
.dates{
  display: flex;
  #arrive{
    margin-right: 20px;
  }
}

.container{
  padding: 0 10vw 0;
  width: 100%;
  height: 100%;
}
main{
  .form{
    padding: 40px 30px 30px 30px;
    background: white;
    border: 1px solid #0000001F;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    .form-payment-text{
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      &:first-child{
        margin-top: 20px;
      }
      &-total{
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        font-size: 19px;
        .format-payment-total-price{
          order: 3;
          &:before{
            display: inline;
            content: "";
            border-bottom: 1px dashed #ccc;
            flex-grow: 1; /* Линия занимает всё доступное пространство */
            order: 2; /* Выводим вторым */
            margin: 0 5px; /* Расстояние от текста */
          }
        }
        .format-payment-total-price:before{
          display: inline-block;
          width: 178px ;
          content: "";
          border-bottom: 1px dashed #ccc;
          flex-grow: 1; /* Линия занимает всё доступное пространство */
          order: 2; /* Выводим вторым */
          margin: 0 5px; /* Расстояние от текста */
        }
      }
      .price{
        color: $darkShade50;
        font-size: 14px;

      }
      .form-payment-number{

        .number{
          display: inline-block;
          align-self: start;
          font-size: 24px;
          color: $darkShade100;
          font-weight: 700;
          margin-right: 8px;
        }
        .luxe{
          display: inline-block;
          vertical-align: bottom;
          font-size: 12px;
          text-transform: uppercase;
          font-weight: bold;
          color: #bc9cff;
        }

      }
    }
  }
  .main-index{

    background: url("../img/jpg/image 3.jpg") no-repeat;
    background-size: cover;
    padding: 70px 0 18px 0;
    .index-block{
      margin-bottom: 386px;
    }
    .main-wrapper{
      width: 100%;
      height: 100%;
      justify-content: space-between;
      .descr{
        font-size: 14px;
        color: $darkShade75;
        text-align: right;
        align-self: flex-end;
      }
    }
  }

  .main-sign{
    background: url("../img/jpg/image 4.jpg") center no-repeat;
    background-size:cover;
    .form-box{
      padding-top:20px ;
      padding-bottom: 20px;
      display: flex;
      justify-content: center;
      .to-create{
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
      }
      .form_sign{
        margin: 172px 0 172px 0;
      }
      .form_reg{
        .genders{
          display: flex;
        }
      }
    }
  }
  .main-rooms{
    .container{
      display: flex;
      .content{
        margin-top: 30px;
        .rooms-pag-block{
          display: grid;
          justify-content: center;
          margin: 40px auto;
          text-align: center;
          .rooms-pages{
            width: 229px;
            display: flex;
            justify-content: space-around;
            span{
              padding: 7px;
            }
            .rooms-pag-num {
              cursor: pointer;
              font-size: 12px;
              text-align: center;
              width: 40px;
              height: 40px;
              vertical-align: middle;
            }

            .first{
              background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
              font-size: 12px;
              font-weight: bold;
            }
            .arrow{
              background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
              font-size: 24px;
            }
            .first, .arrow{
              color: white;
              border-radius: 50%;
              border: none;

            }
          }
          .rooms-pag-descr{
            margin: 10px 0 110px;
            flex: none;
            display: block;
          }
        }
      }
    }

    .rooms-left{
      margin:30px 60px 0 0;

      .dropdown{
        .dropdown-content{
          margin-top: 18px;
          display: none;
        }
        #toggle{
          display: none;
        }
        .toggle{
          position: absolute;
          font-size: 24px;
          color: $darkShade50;
          cursor: pointer;
        }

        label._title{
          width: 100%;
          &:after {
            margin-left: 23px;
            position: absolute;
            font-family: 'Material Icons';
            content: "expand_more";
            text-transform: none;
            font-size: 24px;
            color: $darkShade50;
            cursor: pointer;
          }
        }
        input[type=checkbox]:checked ~ .dropdown-content{
          display: block;
        }
        input[type=checkbox]:checked ~ ._title:after{
          position: absolute;
          -webkit-transform: rotate(180deg);
          -moz-transform: rotate(180deg);
          transform: rotate(180deg);
        }
      }
    }
    .rooms{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap:10px;
      grid-row-gap: 10px;
    }
  }
  .main-room{
    .room-pics{
      display: flex;
      height: 485px;
      .room-pics-left{
        width: 70%;
        background: url("../img/jpg/image888.jpg") no-repeat;
        background-size: cover;
      }
      .room-pics-right{
        width: 30%;
        height: 485px;
        .room-pics-right-top{
          width: 100%;
          height: 50%;
          background: url("../img/jpg/image888(2).jpg") no-repeat;
          background-size: cover;
        }
        .room-pics-right-bot{
          width: 100%;
          height: 50%;
          background: url("../img/jpg/image888(3).jpg") no-repeat;
          background-size: cover;
        }
      }
    }

    .room-content{
      margin-top: 70px;
      .room-details-top{
        display: flex;
        .room-details-features{
          margin-right: 20px;
          .feature:nth-child(2){
            border: none;
          }
        }
        .room-impressions{
          margin-right: 100px;
          h2{
            margin-left: 30px;
          }
        }
      }
      .room-note{
        margin: 30px 0 70px;
        display: flex;
        .room-rools{
          margin-right: 100px;
        }
      }
      .room-impressions{
        width: fit-content;
        height: 200px;
      }
    }
  }
}




@media screen and (max-width: 1300px){
  header{
    .container{
      padding: 0 5vw;
    }
  }
  main{
    .main-rooms{
      .container{
        padding: 0 3vw;
        display: flex;
        justify-content: space-evenly;
        .rooms-left{
          margin: 30px 20px 0 0;
        }
        .content {
          .rooms{
            display: grid;
            justify-content: center;
            grid-template-columns: 1fr  1fr;
            grid-column-gap:10px;
            grid-row-gap: 10px;
          }
        }


      }
    }
    .main-room{
      .room-pics{
        .room-pics-left{
          width: 100%;
          background: url("../img/jpg/image888.jpg") no-repeat;
          background-size: cover;
        }
        .room-pics-right{
          display: none;
        }
      }
      .container{
        padding: 0 15px;
        .room-content{
          margin-top: 70px;
          .room-details-top{
            display: flex;
            flex-direction: column;
            align-items: center;
            .room-details-features{
              margin-right: 10px;
              .feature:nth-child(2){
                border: none;
              }
            }
            .room-impressions{
              margin-right: 10px;
              h2{
                margin-left: 30px;
              }
            }
          }
          .room-note{
            margin: 30px 0 70px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            .room-rools{
                margin: 0;
            }
            .room-cansel{
              margin: 0 40px 0 0;
            }
          }
          .comment{
            width: fit-content;
            margin: 20px auto;
          }
        }
      }


    }

  }
  footer{
    .container{
      padding: 0 3vw;
    }
  }
}

@media screen and (max-width: 1000px){
  header{
    .container{
      padding: 0 2vw;
      .header-wrapper{

        .header-list{
          display: none;
        }
      }
    }
  }
  main{
    .main-index{
      .container{
        .main-wrapper{
          align-items: center;
          display: flex;
          flex-direction: column;
          .descr{
            align-self: center;

          }
        }
      }
    }

    .main-rooms{
      .container{
        display: block;
        .rooms-left{
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        .content{
          display: flex;
          flex-direction: column;
          align-items: center;
          .h2{
            text-align: center;
          }
        }
      }
    }
  }
  footer{
    .footer-main{
      display: none;
    }
    .footer-bottom{
      display: none;
    }
    .footer-mobile{
      padding: 50px;
      height: fit-content;
      display: flex;
    }
  }
}
@media screen and (max-width: 600px){
  header{
    .container{
      .header-wrapper{
        height: 10vh;
        .header-list{
          display: none;
        }
      }
    }
  }
  main{
    .main-index{
     height: fit-content;
     min-height: 80vh;
      .container{
        .main-wrapper{
          justify-content: start;
        }
      }

    }
    .main-rooms{
      box-shadow: 0 1px 1px  $darkShade10;
      .container{
        display: block;
        .rooms-left{
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        .content{
          .rooms{
            display: grid;
            justify-content: center;
            place-self: center;
            align-items: center;
            grid-template-columns: 1fr;
            grid-column-gap:10px;
            grid-row-gap: 10px;
          }
          .h2{
            text-align: center;
          }
        }
      }
    }
  }
  footer{
    .footer-mobile{
      height: fit-content;
      min-height: 20vh;
    }
  }
}
@media (max-device-width: 520px){
  .main-index, .main-sign {
    height: fit-content;
    min-height: 80vh;
    display: flex;
    align-items: center;
  }
  footer{
    .footer-mobile{
      height: fit-content;
      min-height: 20vh;
    }
  }
}